{{> nav}}

{{> header}}

<article>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-1">
                <div class="row">
                    <div class="col-12">
                        <h2>Contact</h2>
                    </div>
                    <div class="col-12 col-md-10 offset-md-1">
                        <h3>Adresse</h3>
                        <p>Station F</p>
                        <p>5 Parvis Alan Turing</p>
                        <p>75013 Paris</p>
                    </div>

                    <div class="col-12 post-content">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe width="100%" height="100%" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=university%20of%20san%20francisco&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                                </iframe>
                            </div>
                            <style></style>
                        </div>
                    </div>
                    <!-- /.post-content -->
                </div>
            </div>
            <aside class="d-none d-lg-block col-lg-2">
                <div class="section search">
                    <h6>Recherche</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Recherche..." />
                        </div>
                        <button type="submit" class="btn btn-primary col-12">Ok</button>
                    </form>
                </div>
                <div class="section newsletter">
                    <h6>Newsletter</h6>
                    <form class="">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" placeholder="Email..." />
                        </div>
                        <button type="submit" class="btn btn-primary col-12">
                            S'inscrire
                        </button>
                    </form>
                </div>
                <div class="section social-icons">
                    <h6>Partager</h6>
                    <ul>
                        <li>
                            <a href="#" class="social-icon">
                                <i class="fab fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon">
                                <i class="fab fa-youtube"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="social-icon">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</article>



{{> footer}}