{{> nav}}


{{> header}}

    <div id="content" class="container-fluid">
        <div class="row justify-content-center">
            <h2 id="content-title">Derniers articles</h2>
        </div>
        <div id="articles" class="row">
            <div class="col-12 col-lg-8">
                <div class="col-12 row">
                    <div class="col-12 col-md-4 d-flex align-items-center">
                        <img class="img-fluid" src="./img/articles/suzette/suzette-small.jpg" alt="Article metro" />
                    </div>
                    <div class="col-12 col-md-8">
                        <h3>Chez suzette</h3>
                        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique autem maxime vero hic
                            eaque
                            incidunt
                            itaque culpa eligendi eos assumenda voluptatem ducimus, dolorem ipsum non provident iure
                            nulla
                            quam
                            repellendus.</p>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12 col-md-4 d-flex align-items-center">
                        <img class="img-fluid" src="./img/articles/metro/metro-small.jpg" alt="Artcile du metro" />
                    </div>
                    <div class="col-12 col-md-8">
                        <h3>Le métro dessert</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni asperiores ut exercitationem
                            rerum fugiat
                            quo ullam ipsam obcaecati, quis aperiam labore optio inventore sapiente voluptatibus
                            repellat
                            cumque animi
                            culpa? Ex?</p>
                    </div>
                </div>
                <div class="col-12 row">
                    <div class="col-12 col-md-4 d-flex align-items-center">
                        <img class="img-fluid" src="./img/articles/vitaly/vitaly-small.jpg" alt="Article vitaly" />
                    </div>
                    <div class="col-12 col-md-8">
                        <h3>Vitaly</h3>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus, dolor ipsum sequi
                            sapiente sed
                            atque. Accusamus, labore dignissimos? Fugit eos sint totam veritatis voluptatem nostrum.
                            Vitae
                            corrupti
                            odio commodi tenetur.</p>
                    </div>
                </div> <!-- /#articles-->
            </div>
            <div id="side-bar" class="col-lg-4 d-none d-lg-block">
                <h3>Recherche</h3>
                <form>
                    <div>
                        <input class="form-control col-12" placeholder="Recherche..." />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Ok</button>
                </form>
                <h3>Newsletter</h3>
                <form>
                    <div>
                        <input class="form-control" placeholder="Email..." />
                    </div>
                    <button type="submit" class="btn btn-primary col-12">S'inscrire</button>
                </form>
                <h3>Partager</h3>
                <ul class="list-unstyled d-flex" id="desktop-social-icons">
                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-11 offset-1">
                <a href="#" id="previous-article">&laquo; voir les articles précédents</a>
            </div>
        </div>
    </div>

    <footer class="text-white">
        <div class="container-lg">
            <div class="row">
                <div class="col-12 col-lg-4">
                    <h3>Catégories</h3>
                    <ul>
                        <li><a href="#"><u>Revues</u></a></li>
                        <li><a href="#">Recettes</a></li>
                        <li><a href="#">Découvertes</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <h3>Archives</h3>
                    <ul>
                        <li><a href="#">2019</a></li>
                        <li><a href="#">2018</a></li>
                        <li><a href="#">2017</a></li>
                    </ul>
                </div>
                <div class="col-12 col-lg-4">
                    <h4>Newsletter</h4>
                    <form class="form-inline">
                        <div class="form-group">
                            <input type="email" class="form-control" placeholder="Email">
                        </div>
                        <button id="subscribe" type="submit" class="btn btn-primary ml-2">S'inscrire</button>
                    </form>
                    <h4>Partager</h4>
                    <ul class="d-flex social-icons">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>


        {{> footer}}