<footer class="text-white">
    <div class="container-lg">
        <div class="row">
            <div class="col-12 col-lg-4">
                <h3>Catégories</h3>
                <ul>
                    <li><a href="#"><u>Revues</u></a></li>
                    <li><a href="#">Recettes</a></li>
                    <li><a href="#">Découvertes</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <h3>Archives</h3>
                <ul>
                    <li><a href="#">2019</a></li>
                    <li><a href="#">2018</a></li>
                    <li><a href="#">2017</a></li>
                </ul>
            </div>
            <div class="col-12 col-lg-4">
                <h4>Newsletter</h4>
                <form class="form-inline">
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <button id="subscribe" type="submit" class="btn btn-primary ml-2">S'inscrire</button>
                </form>
                <h4>Partager</h4>
                <ul class="d-flex social-icons">
                    <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube-square"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>